<mat-toolbar color="primary">
  <mat-toolbar-row> <h3>Registration Form</h3> </mat-toolbar-row>
  <mat-toolbar-row>
    <button
      mat-raised-button
      color="primary"
      routerLink="/registration"
      routerLinkActive="active"
    >
      Registration
    </button>

    <span class="spacer"></span>

    <div>
      <button mat-raised-button color="primary" routerLink ="/login" routerLinkActive="active" >LogIn</button>
        <button mat-raised-button color="primary" routerLink ="/registration" routerLinkActive="active">Register</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
