<mat-toolbar color="primary">
  <mat-toolbar-row> <h3>Registration Form</h3> </mat-toolbar-row>
  <mat-toolbar-row>
    <button
      mat-raised-button
      color="primary"
      routerLink="/registration"
      routerLinkActive="active"
    >
      Home
    </button>

    <span class="spacer"></span>

    <div class="navbar-right">
      <div *ngIf="!isUserAuthenticated">
        <button
          mat-raised-button
          color="primary"
          routerLink="/login"
          routerLinkActive="active"
        >
        <mat-icon>input</mat-icon>
          LogIn
        </button>
        <button
          mat-raised-button
          color="primary"
          routerLink="/registration"
          routerLinkActive="active"
        >
        <mat-icon> contacts</mat-icon>
          Register
        </button>
      </div>
      <div *ngIf="isUserAuthenticated">
        <button
          mat-raised-button
          color="primary"
          routerLink="/registration"
          routerLinkActive="active"
        >
        <mat-icon>account_box</mat-icon>
          Profile
        </button>
        <button
          mat-raised-button
          color="primary"
          routerLink="/registration"
          routerLinkActive="active"
        >
        <mat-icon>enter_to_app</mat-icon>
          Logout
        </button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
